body {
    background-color: #eef9e4 ;
     position: relative;   
}

.kirby {
    position: absolute;
    border-style: solid;
    border-color: #e791bf;
    border-radius: 50% 51% 51% 50%  ;
    height: 134%;
    width: 40%;
    top: 150px;
    left: 150px;
    background-color: #e791bf;
}


.kirbyLefteye {
    position: relative;
    top: 190px;
    right: 300px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    height: 140px;
    width: 30px;
    background-color: rgb(34, 34, 43);
    z-index: 9;
}

.kirbyRighteye {
    position: relative;
    top: 40px;
    right: 144px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    height: 140px;
    width: 30px;
    background-color: rgb(34, 34, 43);
    z-index: 9;
}

.kirbyMouth {
    padding: 2px;
    position: relative;
    top: 100px;
    right: 215px;
    width: 0;
	height: 0;
	border-left: 27px solid transparent;
	border-right: 27px solid transparent; /*  */
	border-top: 52px solid #f62020;
    z-index: 9;
}


.kirbyBlushleft {
    position: relative;
    top: 76px;
    right: 336px;
    height: 50px;
    width: 100px;
    background-color:#d74894;
    border-radius: 50%;
    opacity: 0.7;
    z-index: 0;
}

.kirbyBlushright {
    position: relative;
    top: 26px;
    right: 100px;
    height: 50px;
    width: 100px;
    background-color:#d74894;
    border-radius: 50%;
    opacity: 0.7;
    z-index: 0;
}