body {
    background-color: #eef9e4 ;
     position: relative;   
}

.hatTop {
    position: relative;
    top: 50px;
    right: 224px;
    height: 101px;
  width: 200px;
  background-color: black;
  z-index: 1;
}

.hatBottom {
    position: relative;
    top: 49px;
    right: 227px;
    height: 50px;
  width: 310px;
  background-color: black;
  z-index: 1;
}

.kirby {
    position: absolute;
    border-style: solid;
    border-color: #e791bf;
    border-radius: 50%;
    height: 100%;
    width: 40%;
    top: 150px;
    left: 150px;
    background-color: #e791bf;
}


.kirbyLefteye {
    position: relative;
    top: 190px;
    right: 300px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    height: 140px;
    width: 30px;
    background-color: rgb(34, 34, 43);
    z-index: 2;
}

.pupilLeft {
  position: relative;
  top: 15px;
  height: 35px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  z-index: 3;
}

.kirbyRighteye {
    position: relative;
    top: 40px;
    right: 144px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    height: 140px;
    width: 30px;
    background-color: rgb(34, 34, 43);
    z-index: 9;
}

.pupilRight {
    position: relative;
    top: 15px;
    height: 35px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    z-index: 3;
  }

.kirbyMouth {
    padding: 2px;
    position: relative;
    top: 100px;
    right: 215px;
    width: 0;
	height: 0;
	border-left: 27px solid transparent;
	border-right: 27px solid transparent; /*  */
	border-top: 52px solid #f62020;
    z-index: 9;
}


.kirbyBlushleft {
    position: relative;
    top: 76px;
    right: 336px;
    height: 50px;
    width: 100px;
    background-color:#d74894;
    border-radius: 50%;
    opacity: 0.7;
    z-index: 0;
}

.kirbyBlushright {
    position: relative;
    top: 26px;
    right: 100px;
    height: 50px;
    width: 100px;
    background-color:#d74894;
    border-radius: 50%;
    opacity: 0.7;
    z-index: 0;
}